{% extends "AppPage/base_app.html" %}
{% load static %}
{% block content %}
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Dashboard</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <!-- Column -->
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex no-block">
                            <div>
                                <h5 class="card-title mb-0">Sales Chart</h5>
                            </div>
                            <div class="ms-auto">
                                <ul class="list-inline text-center font-12">
                                    <li><i class="fa fa-circle text-success"></i> SITE A</li>
                                    <li><i class="fa fa-circle text-info"></i> SITE B</li>
                                    <li><i class="fa fa-circle text-primary"></i> SITE C</li>
                                </ul>
                            </div>
                        </div>
                        <div class="" id="sales-chart" style="height: 355px;"></div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex mb-4 no-block">
                            <h5 class="card-title mb-0 align-self-center">Our Visitors</h5>
                            <div class="ms-auto">
                                <select class="form-select b-0">
                                    <option selected="">Today</option>
                                    <option value="1">Tomorrow</option>
                                </select>
                            </div>
                        </div>
                        <div id="visitor" style="height:260px; width:100%;"></div>
                        <ul class="list-inline mt-4 text-center font-12">
                            <li><i class="fa fa-circle text-purple"></i> Tablet</li>
                            <li><i class="fa fa-circle text-success"></i> Desktops</li>
                            <li><i class="fa fa-circle text-info"></i> Mobile</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Basic Table</h4>
                        <h6 class="card-subtitle">Add class <code>.table</code></h6>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Deshmukh</td>
                                        <td>Prohaska</td>
                                        <td>@Genelia</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Deshmukh</td>
                                        <td>Gaylord</td>
                                        <td>@Ritesh</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Sanghani</td>
                                        <td>Gusikowski</td>
                                        <td>@Govinda</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Roshan</td>
                                        <td>Rogahn</td>
                                        <td>@Hritik</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Joshi</td>
                                        <td>Hickle</td>
                                        <td>@Maruti</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Nigam</td>
                                        <td>Eichmann</td>
                                        <td>@Sonu</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Start Notification -->
            <div class="col-lg-6 col-md-12">
                <div class="card card-body mailbox">
                    <h5 class="card-title">Notification</h5>
                    <div class="message-center" style="height: 420px !important;">
                        <!-- Message -->
                        <a href="#">
                            <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                            <div class="mail-contnet">
                                <h6 class="text-dark font-medium mb-0">Luanch Admin</h6> <span class="mail-desc">Just see the my new admin!</span>
                                <span class="time">9:30 AM</span>
                            </div>
                        </a>
                        <!-- Message -->
                        <a href="#">
                            <div class="btn btn-success btn-circle"><i class="fa fa-calendar-check-o"></i></div>
                            <div class="mail-contnet">
                                <h6 class="text-dark font-medium mb-0">Event today</h6> <span class="mail-desc">Just a reminder that you have
                                    event</span> <span class="time">9:10 AM</span>
                            </div>
                        </a>
                        <!-- Message -->
                        <a href="#">
                            <div class="btn btn-info btn-circle"><i class="fa fa-cog text-white"></i></div>
                            <div class="mail-contnet">
                                <h6 class="text-dark font-medium mb-0">Settings</h6> <span class="mail-desc">You can customize this template as you
                                    want</span> <span class="time">9:08 AM</span>
                            </div>
                        </a>
                        <!-- Message -->
                        <a href="#">
                            <div class="btn btn-primary btn-circle"><i class="fa fa-user"></i></div>
                            <div class="mail-contnet">
                                <h6 class="text-dark font-medium mb-0">Pavan kumar</h6> <span class="mail-desc">Just see the my admin!</span> <span
                                    class="time">9:02 AM</span>
                            </div>
                        </a>
                        <!-- Message -->
                        <a href="#">
                            <div class="btn btn-info btn-circle"><i class="fa fa-cog text-white"></i></div>
                            <div class="mail-contnet">
                                <h6 class="text-dark font-medium mb-0">Customize Themes</h6> <span class="mail-desc">You can customize this template as you
                                    want</span> <span class="time">9:08 AM</span>
                            </div>
                        </a>
                        <!-- Message -->
                        <a href="#">
                            <div class="btn btn-primary btn-circle"><i class="fa fa-user"></i></div>
                            <div class="mail-contnet">
                                <h6 class="text-dark font-medium mb-0">Pavan kumar</h6> <span class="mail-desc">Just see the my admin!</span> <span
                                    class="time">9:02 AM</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Notification -->
            <!-- Start Feeds -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Feeds</h5>
                        <ul class="feeds">
                            <li>
                                <div class="bg-light-info"><i class="fa fa-bell-o"></i></div> You have 4 pending
                                tasks. <span class="text-muted">Just Now</span>
                            </li>
                            <li>
                                <div class="bg-light-success"><i class="fa fa-server"></i></div> Server #1
                                overloaded.<span class="text-muted">2 Hours ago</span>
                            </li>
                            <li>
                                <div class="bg-light-warning"><i class="fa fa-shopping-cart"></i></div> New
                                order received.<span class="text-muted">31 May</span>
                            </li>
                            <li>
                                <div class="bg-light-danger"><i class="fa fa-user"></i></div> New user
                                registered.<span class="text-muted">30 May</span>
                            </li>
                            <li>
                                <div class="bg-light-inverse"><i class="fa fa-bell-o"></i></div> New Version
                                just arrived. <span class="text-muted">27 May</span>
                            </li>
                            <li>
                                <div class="bg-light-info"><i class="fa fa-bell-o"></i></div> You have 4 pending
                                tasks. <span class="text-muted">Just Now</span>
                            </li>
                            <li>
                                <div class="bg-light-danger"><i class="fa fa-user"></i></div> New user
                                registered.<span class="text-muted">30 May</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Feeds -->
        </div>
    </div>
    <footer class="footer"> © 2021 Adminwrap by <a href="https://www.wrappixel.com/">wrappixel.com</a> </footer>
</div>
{% endblock %}