{% extends "HomePage/base.html" %}
{% load static %}
{% block content %}
    <!-- Slider Area Start-->
    <div class="slider-area slider-bg ">
        <div class="slider-active dot-style">
            <div class="single-slider d-flex align-items-center slider-height ">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-9 ">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay=".3s">Transaction digital technology web solution</h1>
                                <p data-animation="fadeInLeft" data-delay=".6s">Automated Control Panel To Control Your Transaction Using Your Meta Mask Walet</p>
                                <!-- Slider btn -->
                               <div class="slider-btns">
                                    <!-- Hero-btn -->
                                    <button id="getstarted" data-animation="fadeInLeft" data-delay="1s" class="btn radius-btn">get started</button>
                               </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="hero__img d-none d-lg-block f-right">
                                <img src="{% static 'assets/img/hero/hero_right.png'%}" alt="" data-animation="fadeInRight" data-delay="1s">
                            </div>
                        </div>
                    </div>
                </div>
            </div>     
        </div>
        <!-- slider Social -->
        <div class="slider-social d-none d-md-block">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fas fa-globe"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <div class="services-area section-padding30 fix">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-center mb-100">
                        <span>Oue Best Services</span>
                        <h2>What we have for you</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-wrapper mb-50">
                        <div class="single-services">
                            <div class="services-icon">
                                <span class="flaticon-server"></span>
                            </div>
                            <div class="services-cap">
                                <h3><a href="#">Shared Transaction</a></h3>
                                <p>Have a full overview on your latest meta mask transaction data</p>
                            </div>
                        </div>
                        <div class="services-shape">
                            <span>.01</span>
                            <img src="{% static 'assets/img/gallery/shape-services.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-wrapper mb-50">
                        <div class="single-services">
                            <div class="services-icon">
                                <span class="flaticon-green"></span>
                            </div>
                            <div class="services-cap">
                                <h3><a href="#">Reseller Transaction</a></h3>
                                <p>Full control on your smart contract with multi walet ability</p>
                            </div>
                        </div>
                        <div class="services-shape">
                            <span>.02</span>
                            <img src="{% static 'assets/img/gallery/shape-services.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-wrapper mb-50">
                        <div class="single-services">
                            <div class="services-icon">
                                <span class="flaticon-servers"></span>
                            </div>
                            <div class="services-cap">
                                <h3><a href="#">Cloud Transaction</a></h3>
                                <p>Transfer one , control everywhere with a simple dashboard data</p>
                            </div>
                        </div>
                        <div class="services-shape">
                            <span>.03</span>
                            <img src="{% static 'assets/img/gallery/shape-services.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Area End -->
    <!-- Search domain Start -->
    <section class="search-domain-area section-bg pt-140 pb-140" data-background="{% static 'assets/img/gallery/section_bg02.jpg' %}">
        <div class="container">
            <div class="row align-items-end mb-80">
                <div class="col-xl-4">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle2">
                        <span>Get your domain transaction</span>
                        <h2>Search domain you want</h2>
                    </div>
                </div>
                <div class="col-xl-8">
                    <!-- Search Box -->
                    <form action="#" class="search-box">
                        <div class="input-form">
                            <input type="text" placeholder="Search your domain name here">
                        </div>
                        <div class="select-form">
                            <div class="select-itms">
                                <select name="select" id="select1">
                                    <option value="">.com</option>
                                    <option value="">.bd</option>
                                    <option value="">.edu</option>
                                    <option value="">.gov</option>
                                    <option value="">.us</option>
                                    <option value="">.uk</option>
                                    <option value="">.pk</option>
                                    <option value="">.org</option>
                                    <option value="">.live</option>
                                    <option value="">.net</option>
                                </select>
                            </div>
                        </div>
                        <div class="search-form">
                            <a href="#">search now</a>
                        </div>	
                    </form>	
                    <!-- Search Box End-->
                </div>
            </div>
            <!-- Domain List -->
            <div class="row">
                <div class="domain-list">
                    <div class="single-domain">
                        <span>.com</span>
                        <p>$3.99/Year</p>
                    </div>
                    <div class="single-domain">
                        <span>.net</span>
                        <p>$2.99/Year</p>
                    </div>
                    <div class="single-domain">
                        <span>.com</span>
                        <p>$3.99/Year</p>
                    </div>
                    <div class="single-domain">
                        <span>.co</span>
                        <p>$5.99/Year</p>
                    </div>
                    <div class="single-domain">
                        <span>.org</span>
                        <p>$2.99/Year</p>
                    </div>
                    <div class="single-domain">
                        <span>.live</span>
                        <p>$1.99/Year</p>
                    </div>
                </div>
            </div>
            <!-- Domain List  End-->
        </div>
    </section>
    <!-- Search domain End -->
    <!--All startups Start -->
    <section class="all-starups-area section-padding2">
        <!-- left Contents -->
        <div class="starups">
            <div class="starups-details">
                <!-- Section Tittle -->
                <div class="section-tittle section-tittle3">
                    <span>Get your domain</span>
                    <h2>We are with you every step of the way</h2>
                </div>
                <!-- details caption -->
                <div class="details-caption">
                    <p>Hosting.com get you into the world of Web3.0 with the simplest way possible and in the shortest time</p>
                    <p>with a support of 24/7 H , Hosting going to make life more easier</p>
                </div>
                <a href="#" class="btn">get started</a>
            </div>
        </div>
        <!--Right Contents  -->
        <div class="starups-img">
            <img src="{% static 'assets/img/gallery/visit_bg.jpg' %}" alt="">
        </div>
    </section>
    <!--All startups End -->
    <!-- work company Start-->
    <section class="work-company">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle3">
                        <span>Get your domain</span>
                        <h2>We are with you every step of the way</h2>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="logo-area">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="single-logo">
                                    <img src="{% static 'assets/img/gallery/cisco_brand.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="single-logo">
                                    <img src="{% static 'assets/img/gallery/cisco_brand2.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="single-logo">
                                    <img src="{% static 'assets/img/gallery/cisco_brand3.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="single-logo">
                                    <img src="{% static 'assets/img/gallery/cisco_brand4.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="single-logo">
                                    <img src="{% static 'assets/img/gallery/cisco_brand5.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="single-logo">
                                    <img src="{% static 'assets/img/gallery/cisco_brand6.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- work company End-->
    <!-- Our pricing Start -->
    <div class="our-pricing-area section-padding30 fix">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="tab-content" id="nav-tabContent">
                         <!-- First Tab -->
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">  
                            <div class="single-pricing mb-30">
                                <div class="pricing-caption text-center">
                                <div class="procing-logo">
                                        <img src="{% static 'assets/img/icon/roket.png' %}" alt="">
                                </div>
                                    <span>$ 05.00</span>
                                    <div class="pricing-listing">
                                        <ul>
                                            <li>Increase traffic 50%</li>
                                            <li>Social Media Marketing</li>
                                            <li>10 Free Optimization</li>
                                            <li>24/7  support</li>
                                        </ul>
                                    </div>
                                    <a href="#" class="btn white-btn">Get the plan</a>
                                </div>
                                <!-- pricing Shape -->
                                <div class="pricing-shape">
                                    <img class="pricing1" src="{% static 'assets/img/gallery/procing-shape1.png' %}" alt="">
                                    <img class="pricing2"  src="{% static 'assets/img/gallery/procing-shape2.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                         <!-- Second Tab -->
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="single-pricing  mb-30">
                                <div class="pricing-caption text-center">
                                <div class="procing-logo">
                                        <img src="{% static 'assets/img/icon/roket.png' %}" alt="">
                                </div>
                                    <span>$ 05.00</span>
                                    <div class="pricing-listing">
                                        <ul>
                                            <li>Increase traffic 50%</li>
                                            <li>Social Media Marketing</li>
                                            <li>10 Free Optimization</li>
                                            <li>24/7  support</li>
                                        </ul>
                                    </div>
                                    <a href="#" class="btn white-btn">Get the plan</a>
                                </div>
                                <!-- pricing Shape -->
                                <div class="pricing-shape">
                                    <img class="pricing1" src="{% static 'assets/img/gallery/procing-shape1.png' %}" alt="">
                                    <img class="pricing2"  src="{% static 'assets/img/gallery/procing-shape2.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Pricing-caption -->
                <div class="col-lg-6 col-md-6">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle3">
                        <span>Oue Best Services</span>
                        <h2>Our pricing</h2>
                        <p class="pt-20 pb-40">Cnsectetur adipisicing cvbelit, sxced dbeo eiucdsmod tempor incididunt ut labore egsfgt dolore magna aliqua. Ut encim ad minim veniam, quis nostrud exercitation ulclamco laboris nisi ufgut aliquip edgx ebrha.</p>
                    </div>
                    <!-- Tab Button -->
                    <div class="pricing-button">                                         
                        <nav>                                                                     
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Monthly</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Yearly</a>
                            </div>
                        </nav>
                    </div>
                    <!-- End Tab Button -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our pricing End -->
    <!-- Testimonial Start -->
    <div class="testimonial-area testimonial-padding">
        <div class="container ">
           <div class="row align-items-center">
                <div class="col-lg-7 col-md-7">
                    <div class="h1-testimonial-active">
                        <!-- Single Testimonial -->
                        <div class="single-testimonial">
                             <!-- Testimonial Content -->
                            <div class="testimonial-caption ">
                                <!-- founder -->
                                <div class="testimonial-founder d-flex align-items-center mb-30">
                                    <div class="founder-img">
                                        <img src="{% static 'assets/img/testmonial/Homepage_testi.png' %}" alt="">
                                    </div>
                                    <div class="founder-text">
                                        <span>Jahon Ann</span>
                                        <p>CEO, Colorlib</p>
                                    </div>
                                </div>
                                <div class="testimonial-top-cap">
                                    <p>Hosting maked my Transaction with my CEO more easier using the technology of Web3.Py</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Testimonial -->
                        <div class="single-testimonial">
                             <!-- Testimonial Content -->
                            <div class="testimonial-caption ">
                                <!-- founder -->
                                <div class="testimonial-founder d-flex align-items-center mb-30">
                                    <div class="founder-img">
                                        <img src="{% static 'assets/img/testmonial/1.png' %}" alt="">
                                    </div>
                                    <div class="founder-text">
                                        <span>Losi Eass</span>
                                        <p>Manager, ISS</p>
                                    </div>
                                </div>
                                <div class="testimonial-top-cap">
                                    <p>i was suffering in my first days in work by using the technology on block chaine and meta mask , but now i can do work of 3 hours in 10 minutes using hosting</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div class="testimonial-banner">
                        <img src="{% static 'assets/img/gallery/testimonail.png' %}" alt="">
                    </div>
                </div>
           </div>
        </div>
        <!-- Shape -->
        <img src="{% static 'assets/img/testmonial/shape-testimonial.png' %}" class="testimonial-shape d-none d-lg-block" alt="">
    </div>
    <!-- Testimonial End -->
    <!-- Support Area Start -->
    <section class="support-area section-bg pt-150 pb-150" data-background="{% static 'assets/img/gallery/section_bg03.jpg' %}">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-5">
                    <div class="support-caption">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle5">
                        <span>Get your domain</span>
                        <h2>24/7 Expert Support</h2>
                        <p class="support-details">Our expert team is always on hand to help answer your questions, get you started, and grow your presence online. You can call, chat or email us any time!</p>
                    </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="support-number">
                        <!-- Single contact -->
                        <div class="single-contact text-center">
                            <div class="contact-icon">
                                <i class="fas fa-phone-volume"></i>
                            </div>
                            <div class="contact-number">
                                <span>+1 514 648</span>
                            </div>
                        </div>
                        <!-- Single contact -->
                        <div class="single-contact text-center">
                            <div class="contact-icon">
                                <i class="far fa-comment"></i>
                            </div>
                            <div class="contact-number">
                                <span>Text Us</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Support Area End -->
    <!-- Blog Area Start -->
    <section class="blogs-area section-padding30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <span>Our Blog</span>
                        <h2>Our latest news</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-blogs mb-100">
                        <div class="blog-img">
                            <img src="{% static 'assets/img/gallery/blog1.png' %}" alt="">
                        </div>
                        <div class="blog-cap">
                            <span class="color1">23 Dec, 2020</span>
                            <h4><a href="#">Addiction When Gambling Becomes</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blogs mb-100">
                        <div class="blog-img">
                            <img src="{% static 'assets/img/gallery/blog2.png' %}" alt="">
                        </div>
                        <div class="blog-cap">
                            <span class="color1">07 Dec, 2021</span>
                            <h4><a href="#">Infura And BlockChaine Developement</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blogs mb-100">
                        <div class="blog-img">
                            <img src="{% static 'assets/img/gallery/blog3.png' %}" alt="">
                        </div>
                        <div class="blog-cap">
                            <span class="color1">10 Nov, 2022</span>
                            <h4><a href="#">Get In Hand With Solidity Technologie</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Area End -->
{% endblock %}